---
import 'destyle.css';
import '@fontsource/press-start-2p';

export interface Props {
  title?: string;
}

const { title = 'ramsesboomboom' } = Astro.props as Props;

Astro.response.headers.set('Cache-Control', 'public, s-max-age=60 stale-while-revalidate=604800');
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="icon" href="https://fav.farm/👾" />
    <meta name="description" content="b o o m    b o o m" />
  </head>
  <body>
    <slot />
  </body>
</html>
